<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Owner\Desktop\WaveITUP.jar</jar>
  <outfile>C:\Users\Owner\Desktop\Java Games\WaveUP True\WaveUP.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Owner\Downloads\Game Icon.ico</icon>
  <classPath>
    <mainClass>com.main.Game</mainClass>
    <cp>.</cp>
  </classPath>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>